In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('./data/csvs/rsna_metadata.csv')
data = data.loc[data.label != 2]
data

                                  patientId  label  PatientAge PatientSex
2      935f4fd2-337a-4a58-9004-2c56af697428      0          75          M
3      9e743877-0a64-443e-a305-3771a2e7ee89      0          57          M
7      e77dfc75-8bdd-4aee-967c-c7d97f9771f8      0          36          F
8      195033e1-ab56-4857-8b68-ef116fa576aa      1          55          F
9      8a5cff4d-53d2-4a42-94da-e4b3f2008b1d      1          38          F
...                                     ...    ...         ...        ...
26677  a304611a-7d97-428b-a09e-26c9d11d4f51      0          23          M
26678  8ec613cb-5c01-43b1-92e3-929cb536e77f      0          40          M
26679  bd8f8b0b-a89b-42f5-b92c-c0a152c6c1f2      1          47          M
26682  4e1aa7f5-2f63-4783-ac89-27cf07280c71      0          25          M
26683  7a6b03a2-68f3-4c26-9e8d-c2208505b352      0          56          M

[14863 rows x 4 columns]

In [4]:
data.shape

(14863, 4)

In [5]:
# remove samples with PatientAge > 110
data = data[data['PatientAge'] < 110]
data.shape

(14860, 4)

In [6]:
young_data = data[data['PatientAge'] < 31]
young_data.shape

(3223, 4)

In [7]:
old_data = data[data['PatientAge'] >= 61]
old_data.shape

(2840, 4)

In [8]:
# count combination of young and old
print(len(young_data)+len(old_data))

6063

In [9]:
female_data = data[data["PatientSex"] == "F"]
female_data.shape

(6406, 4)

In [10]:
male_data = data[data["PatientSex"] == "M"]
male_data.shape

(8454, 4)

In [14]:
data.loc[data.label == 1]

                                  patientId  label  PatientAge PatientSex
8      195033e1-ab56-4857-8b68-ef116fa576aa      1          55          F
9      8a5cff4d-53d2-4a42-94da-e4b3f2008b1d      1          38          F
11     97b49b96-d8ba-4fed-bc9e-e0912c9f66eb      1          63          M
12     ae909ea7-5fde-4d40-8295-337f5fe62d29      1          71          F
21     1d247b6c-0687-40bf-839e-fd30e01c585d      1          53          F
...                                     ...    ...         ...        ...
26668  81638698-2938-4b4c-8c47-729da3b5c37b      1          51          F
26670  1a7606e0-4d81-4bbe-ae22-93ca30540cb9      1          34          F
26671  32e8b837-8656-47e1-87ec-b365c7670984      1          63          F
26673  11a2e0cb-ee1f-4d53-a211-b8faff6bf888      1          27          M
26679  bd8f8b0b-a89b-42f5-b92c-c0a152c6c1f2      1          47          M

[6012 rows x 4 columns]